@charset "utf-8";

:root{
  --main-font : "Arita-dotum", sans-serif;
  --sub-font : "DM Serif Display", serif;
  --main-color : #758246;
  --sub-color: #a89079;
  --base-color: #67625e;
}


/*공통*/
body{
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
}
#wrap{
  min-width: 320px;
}
.inner{
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 5%;
}


/*header*/
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  z-index: 3;
}
header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 a{
  display: block;
  width: 116px;
  height: 40px;
  background: url(../images/common/logo_w.png) no-repeat 0 / 100%;
  font-size: 0;
  color: transparent;
}
header nav{
  margin: 0 auto 0 100px;
}
header nav .gnb{
  display: flex;
}
header nav .gnb > li{
  position: relative;
}
header nav .gnb > li::before{
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  opacity: 0;
}
header nav .gnb > li:hover::before{
  opacity: 1;
  top: 0;
}
header nav .gnb > li > a{
  color: #fff;
  display: block;
  padding: 20px 40px;
  font-size: 2rem;
}
header nav .gnb .depth2{
  display: flex;
  position: absolute;
  width: 500px;
  z-index: 99;
}
header nav .gnb .depth2 li a{
  display: block;
  padding: 15px;
  color: #fff;
  transition: all 0.5s;
}
header nav .gnb .depth2 li:hover a{
  color: #f4dc9c;
}
header .depth2-bg{
  position: absolute;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: var(--main-color);
  z-index: 98;
}
header .utill{
  display: flex;
  align-items: center;
  gap: 20px;
}
header .utill .btn-search{
  width: 24px;
  height: 24px;
  border: 0;
  color: transparent;
  font-size: 0;
  background: url(../images/common/icon_search_w.svg) no-repeat center / 22px;
  cursor: pointer;
}
header .utill .btn-search.active{
  background: url(../images/common/icon_close.svg) no-repeat center / 22px !important;
}
header .utill .btn-menu{
  width: 24px;
  height: 24px;
  border: 0;
  color: transparent;
  font-size: 0;
  background: url(../images/common/icon_menu_w.svg) no-repeat center / 22px;
  cursor: pointer;
}
header .utill .cart{
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/common/icon_bag_w.svg) no-repeat center / 22px;
  color: transparent;
  font-size: 0;
}

/*active*/
header.active{
  background-color: #fff;
}
header.active h1 a{
  background-image: url(../images/common/logo.png);
}
header.active nav .gnb > li > a{
  color: #333;
}
header.active nav .gnb > li:hover > a{
  color: var(--main-color);
}
header.active .utill .btn-search{
  background-image: url(../images/common/icon_search.svg);
}
header.active .utill .btn-menu{
  background-image: url(../images/common/icon_menu.svg);
}
header.active .utill .cart{
  background-image: url(../images/common/icon_bag.svg);
}

/*search*/
.search{
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 100px 0;
  z-index: 100;
}
.search div{
  width: 30%;
  min-width: 260px;
  display: inline-block;
  border-radius: 50px;
  background-color: #eee;
  overflow: hidden;
}
.search input[type="text"]{
  font-family: var(--main-font);
  background-color: transparent;
  width: calc(100% - 60px);
  height: 50px;
  font-size: 1.6rem;
  padding: 0 20px;
}
.search .search-btn{
  background: url(../images/common/search.png) no-repeat center;
  font-size: 0;
  color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/*mgnb*/
.mgnb-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 100px 5%;
  background: url(../images/common/mgnb_bg.png) no-repeat center / cover ;
  text-align: center;
}
.mgnb-wrap .tit{
  padding-bottom: 100px;
}
.mgnb-wrap .mgnb{
  display: flex;
  flex-wrap: wrap;
}
.mgnb-wrap .mgnb > li{
  width: 25%;
  margin-bottom: 50px;
}
.mgnb-wrap .mgnb > li > a{
  display: block;
  font-size: 3rem;
  padding-bottom: 10px;
  color: #fff;
}
.mgnb-wrap .mgnb > li > a::before{
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto 10px;
  opacity: 0.5;
}
.mgnb-wrap .mdepth2 li a{
  display: block;
  opacity: 0.5;
  padding: 5px 0;
  color: #fff;
  font-size: 2rem;
}
.mgnb-wrap .mgnb-close{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 10px;
  border: o;
  background-color: #000;
  color: #fff;
}

/*태블릿*/
@media(max-width:1200px){
  header h1 a{
    width: 80px;
    height: 28px;
  }
  header nav .gnb{
    display: none;
  }
  header .utill > :not(.btn-menu){
    display: none;
  }
}



/*모바일*/
@media(max-width:768px){
  .mgnb-wrap{
    padding: 50px 5%;
  }
  .mgnb-wrap .tit{
    padding-bottom: 50px;
  }
  .mgnb-wrap .mgnb{
    flex-direction: column;
  }
  .mgnb-wrap .mgnb > li{
    width: 100%;
    margin-bottom: 30px;
  }
  .mgnb-wrap .mgnb > li:last-child{
    margin-bottom: 100px;
  }
  .mgnb-wrap .mgnb > li > a{
    font-size: 2.5rem;
  }

  .mgnb-wrap .mgnb .mdepth2{
    display: none;
  }
  .mgnb-wrap .mgnb .mdepth2 li a{
    font-size: 1.6rem;
  }
}



/*footer*/
footer{
  border-top: 1px solid #ddd;
  padding: 100px 0;
}
footer .inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .f-link{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
footer address{
  padding: 20px 0;
  opacity: 0.5;
}
footer .call{
  text-align: right;
}
footer .call span{
  font-size: 3rem;
  font-weight: 700;
}
footer .copy{
  opacity: 0.3;
}

@media(max-width:1024px){
  footer{
    padding: 100px 0;
    font-size: 1.4rem;
  }
  footer .inner{
    flex-direction: column;
  }
  footer .f-link{
    gap: 10px 20px;
  }
  footer .call{
    text-align: left;
  }
}