@charset "utf-8";

:root{
  --main-font : "Arita-dotum", sans-serif;
  --sub-font : "DM Serif Display", serif;
  --main-color : #758246;
  --sub-color: #a89079;
  --base-color: #67625e;
}


/*main 공통*/
main h2{
  font-size: 6rem;
  font-weight: 400;
  font-family: var(--sub-font);
}
main h2 + p{
  opacity: 0.5;
  padding-bottom: 30px;
}
main .btn-more a{
  display: inline-block;
  padding: 10px 50px;
  border: 1px solid var(--base-color);
  color: var(--base-color);
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}
main .btn-more a:hover{
  background-color: var(--base-color);
  color: #fff;
}


@media(max-width:1200px){
  main h2{
    font-size: 5rem;
  }
  main h2 + p{
    padding-bottom: 40px;
  }
}

@media(max-width:768px){
  main h2{
    font-size: 4rem;
  }
  main h2 + p{
    padding-bottom: 30px;
  }
  main .btn-more a{
    padding: 10px 50px 5px;
    font-size: 1.4rem;
  }
}



/*main-banner*/
#main-banner .mb li{
  height: 800px;
  display: flex;
  align-items: center;
  padding: 0 15%;
}
#main-banner .mb1{
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 30%), url(../images/main/mb1_bg.png) no-repeat center / cover;
}
#main-banner .mb2{
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 30%), url(../images/main/mb2_bg.png) no-repeat center / cover;
}
#main-banner .mb li .mb-txt p{
  font-size: 2rem;
}
#main-banner .mb li .mb-txt h3{
  font-size: 5rem;
  padding: 20px 0 50px;
}

#main-banner .mb-control{
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
#main-banner .swiper-button-prev,
#main-banner .swiper-button-next{
  position: static;
  width: 35px;
  height: 15px;
  color: transparent;
  font-size: 0;
}
#main-banner .swiper-button-prev{
  background: url(../images/main/btn_prev.png)
  no-repeat center;
  margin-top: 0;
}
#main-banner .swiper-button-next{
  background: url(../images/main/btn_next.png)
  no-repeat center;
  margin-top: 0;
}
#main-banner .swiper-pagination{
  position: static;
  width: auto;
  white-space: nowrap;
}
#main-banner .mb-play, #main-banner .mb-pause{
  cursor: pointer;
  font-size: 2.5rem;
}


@media(max-width:1024px){
  #main-banner .mb li{
    height: 600px;
    padding: 0 5%;
  }
  #main-banner .mb li .mb-txt p{
    font-size: 1.6rem;
  }
  #main-banner .mb li .mb-txt h3{
    font-size: 3.6rem;
  }
}


/*news*/
#news{
  margin: 30px 0;
}
#news h2{
  display: none;
}
#news .inner{
  max-width: 1200px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 15px 40px;
  border-radius: 50px;
}
#news .news-list{
  height: 22px;
  width: calc(100% - 200px);
}
#news .news-list li a{
  transition: color 0.5s;
  color: #999;
  display: flex;
  justify-content: space-between;
}
#news .news-list li a:hover{
  color: var(--main-color);
}
#news .news-list li a .tit{
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#news .news-list li a .date{
  width: 20%;
  text-align: right;
}
#news .btn-more{
  width: 30px;
  cursor: pointer;
  border: 0;
  font-size: 2.5rem;
}

@media(max-width:1024px){
  #news .inner{
    max-width: 90%;
  }
  #news .news-list{
    width: calc(100% - 30px);
  }
  #news .news-list li a .date{
    display: none;
  }
}


/*prd*/
#prd{
  margin: 200px 0;
  text-align: center;
}
#prd .prd-list{
  padding-bottom: 80px;
}
#prd .prd-list li img{
  width: 100%;
}
#prd .prd-list li .thumbnail{
  background-color: #eee;
  position: relative;
}
#prd .prd-list li .thumbnail img:nth-of-type(2){
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
#prd .prd-list li:hover .thumbnail img:nth-of-type(2){
  opacity: 1;
}
#prd .prd-list li .thumbnail i{
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 20px;
}
#prd .prd-name{
  font-size: 2rem;
  padding: 20px 0 10px;
}
#prd .price{
  color: #999;
}
#prd .btn-more{
  margin-top: 50px;
}
#prd .swiper-pagination{
  background-color: #eee;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  top: auto;
  
}
#prd .swiper-pagination .swiper-pagination-progressbar-fill{
  background-color: var(--main-color);
}

@media(max-width:1024px){
  #prd{
    margin: 100px 0;
  }
}


/*story*/
#story{
  padding: 200px 0;
  background: linear-gradient(to bottom, rgba(230,218,206,0.5) 0%, rgba(168, 144,121,0) 100%);
}
#story .inner{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
#story .story-img{
  width: 40%;
}
#story .story-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 600px 600px 0 0;
}
#story .story-list{
  width: calc(60% - 50px);
  position: relative;
}

@keyframes circle{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
#story .txt-ani{
  opacity: 0.3;
  position: absolute;
  top: 60px;
  left: calc(50% - 60px);
  animation: circle 50s linear infinite;
}

#story .story-list ul{
  display: flex;
  gap: 25px;
}
#story .story-list ul li{
  width: calc((100% - 25px) / 2);
}
#story .story-list ul li img{
  width: 100%;
  transition: width 0.5s;
}
#story .story-list ul li:hover img{
  border-radius: 50px;
}
#story .story-list ul li:nth-child(2){
  margin-top: 50px;
}
#story .story-list ul li dl dt{
  font-size: 2.5rem;
  padding: 20px 0 0;
}
#story .story-list ul li dl dd{
  color: #999;
}

@media(max-width:1024px){
  #story{
  padding: 100px 0;
  }
  #story .inner > div{
    width: 100%;
  }
  #story .story-list ul li dl dt{
  font-size: 2rem;
  }
  #story .txt-ani{
    display: none;
  }
  #story .story-list ul li img{
    border-radius: 50px;
  }
}


/*store*/
#store{
  text-align: center;
}
#store ul{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
#store ul li{
  width: calc((50% - 40px) / 2);
  height: 450px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
#store ul li:nth-child(1){
  background: linear-gradient(to bottom, rgba(0,0,0,0.5)0%, rgba(0,0,0,0.5)100%), url(../images/main/store_01.jpg) no-repeat center / cover;
}
#store ul li:nth-child(2){
  background: linear-gradient(to bottom, rgba(0,0,0,0.5)0%, rgba(0,0,0,0.5)100%), url(../images/main/store_02.jpg) no-repeat center / cover;
}
#store ul li:nth-child(3){
  background: linear-gradient(to bottom, rgba(0,0,0,0.5)0%, rgba(0,0,0,0.5)100%), url(../images/main/store_03.jpg) no-repeat center / cover;
}
#store ul li dl dt{
  font-size: 2.5rem;
}
#store ul li dl dd{
  opacity: 0;
  padding-top: 20px;
  transition: opacity 0.5s;
}
#store ul li dl dd.btn-more a{
  border: 1px solid #fff;
  color: #fff;
}
#store ul li dl dd.btn-more a:hover{
  background-color: #fff;
  color: #000;
}
#store ul li.active{
  width: 50%;
}
#store ul li.active dl dd{
  opacity: 1;
}

@media (max-width: 1400px){
  #store ul li{
    width: calc((100% - 40px) / 3);
  }
  #store ul li.active{
    width: calc((100% - 40px) / 3);
  }
   #store ul li dl dd{
    opacity: 1;
   }
}

@media (max-width: 1024px){
  #store ul li{
    width: 100%;
  }
  #store ul li.active{
    width: 100%;
  }
  #store ul li dl dt{
    font-size: 2rem;
  }
  #store ul li dl dd:nth-of-type(1){
    display: none;
  }
}


/*brand*/
#brand{
  margin: 200px 0;
}
#brand .inner{
  display: grid;
  grid-template-columns: 400px auto;
}
#brand .brand-name ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 0 0;
  border-bottom: 5px solid var(--main-color);
}
#brand .brand-name ul li{
  text-align: center;
  border: 1px solid #e3e9c2;
  color: var(--main-color);
  font-size: 2.5rem;
  padding: 10px 0 5px;
  cursor: pointer;
}
#brand .brand-name ul li.active{
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: #fff;
}
#brand .brand-img ul li img{
  width: 100%;
}

@media(max-width:1400px){
  #brand{
    margin: 150px 0;
  }
  #brand .inner{
    grid-template-columns: 100%;
  }
  #brand .brand-tit{
    text-align: center;
  }
}
@media(max-width:1024px){
  #brand{
    margin: 100px 0;
  }
  #brand .brand-name ul li{
    font-size: 1.4rem;
  }
}